body {
  width: 100%;
  margin: 0;
  padding: 0;

  font-family: sans-serif;
}

header, ul, table {
  max-width: 9in;
  margin: 0 auto;
}

h1 {
  text-align: center;
  margin-bottom: 0;
}

h1 img {
  height: 0.5em;
  width:  0.5em;
}

a {
  text-decoration: none;
}

ul {
  text-align: center;
  list-style: none;

  margin-bottom: 0.5cm;
  padding: 0;
}

li {
  display: inline-block;
}

li + li:before {
  content: " • "
}

table {
  border-spacing: 0.25cm;
}

td {
  background-color: #dddddd;
  border-radius: 2em;
  overflow: hidden;
  position: relative;

  width:   2in;
  height:  2in;
  margin:  0;
  padding: 0;

  cursor: pointer;
}

td:empty:hover {
  background-color: #cccccc;
}

td img {
  position: absolute;
  top:    0;
  left:   0;
  right:  0;
  bottom: 0;
}
